# Django settings
SITE_DOMAIN="http://127.0.0.1"
SECRET_KEY=""
DEBUG=True

# DB settings
DB_USER=postgres
DB_PASS=1234
DB_HOST=localhost
DB_NAME=db_name
DB_PORT=5432

INTERVAL_SECONDS=60
COPY_START_TIME=3600

# Account settings
PHONE_NUMBER=998995263565
API_ID=72298732937
API_HASH=""
